<div class="container">
    <div class="navbar navbar-light navbar-expand-md bg-light">
        <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link" href="http://www.facebook.com">
                <i class="fa-brands fa-facebook-f fa-2x"></i>
            </a>
            <a class="nav-item nav-link" href="http://www.vk.com">
                <i class="fa-brands fa-vk fa-2x"></i>
            </a>
            <a class="nav-item nav-link" href="http://www.twitter.com">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="align-content-center text-center">
        &copy; 2024 - WEB_253505_Senko.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</div>